
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --button-backgr:#2196F3;
    --header-color: #565657;
    --header-color1:#1C1B1C;
    --button-hover:green;
    --login-box: #f5f5ef;
  }




.login-container {
width: 100vw;
height: 100vh;
}

.login-wrapper {
    display: grid;
    grid-template-columns: 50% 50%; 
    width:100vw;
    height: 100vh;
}

@media (max-width: 768px) {
    .login-wrapper {
        display: grid;
        grid-template-columns: 100% ;
    }
}


.login-logo{
    display: flex;
    font-size:1.5rem;
    font-weight: bolder;
    position: absolute;
    top: 5px;
    left: 5px;
}

.login-head{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid transparent;
    background: var(--login-box);
     height: 65vh;  
     width: 450px;  
    position: absolute;
    align-items: center;
    left: 25%;
}

.login-content{
    text-align: center;
}

.login-right{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 5% 90%;
    position:relative;
}



/* @media (max-width: 968px) {
    .login-left {
      display: none;
    }
} */



.login-right > h2{
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    color:var(--header-color1)
}
.login-right > h5{
    font-size:1rem;
    color:var(--header-color);
    text-align:center;
    margin-top: -30px; 
}


.input-field1{
    margin-top:20px;
}
.input-field1 > input{
    height:40px;
    width:320px;
    border-radius:10px ;  
    padding-left: 7px; 
    border: 1px solid #EDEDED; 
  }


.input-field > input{
  height:40px;
  width:320px;
  padding-left: 7px;
  border-radius:10px ;    
  border: 1px solid #EDEDED;
}

.gogle-input{
    margin-top:35px;
}

.gogle-input > input{
   height:40px;
    width:320px;
    background-color: white;;
    border-radius:10px;
    border: 1px solid #EDEDED;
}

.button-field{     
    margin-top:30px;
}

.button-field > input:hover{ 
    /* box-shadow: 0 0 0 3px #2195f360; */
  color: #ffffff;
  background-color:#3291fe;
}


.button-field > input{
   width:320px;
   height:40px;
    background-color:#3E97FF;
    border-radius: 5px;
    border:1px solid transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
}

.button-field > input > p {
 text-align: center;
}



  #sing{
    font-size: 1rem;
    text-align: end;
    justify-content: end;
    text-decoration: underline;
    width: 88%;
    top: 16px;
    position: absolute;
    
}

.login-left{
    background-image: url("https://media.gettyimages.com/id/1312706413/photo/modern-hospital-building.jpg?s=612x612&w=gi&k=20&c=1-EC4Mxf--5u4ItDIzrIOrduXlbKRnbx9xWWtiifrDo=");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
}

.arrow{
    display: flex;
    align-items: bottom;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 80%;
    justify-content: flex-end;
     gap:10px;
}

#or{
    align-items: center;
    height: 83px;
    width: 286px;
    justify-content: center;
    display: inline-flex;
}
    


.arrowleft > button{
    height: 25px;
    width: 25px;
    border-radius: 19px;
    background-color: transparent;
    border: 1px solid white;
}
.arrowright > button{
    height: 25px;
    width: 25px;
    border-radius: 19px;
    background-color: transparent;
    border: 1px solid white;
}
.login-icon{
    margin-top: 30px;
}

#fb{
    padding:15px;
}


