
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --button-background:#EB4335;
    --header-color: #565657;
    --header-color1:#1C1B1C;
  }




.login-container {
width: 100vw;
height: 100vh;
}

.login-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.login-logo{
    font-size:1.5rem;
    text-shadow: 2px 6px 4px red;
    font-weight: bolder;
}

.login-head{
    text-align: center;
}

.login-right{
    margin-top:150px;
    text-align: start;
    align-items: center;
}



.login-right > h2{
    font-size: 3rem;
    text-align: center;
    color:var(--header-color1)
}
.login-right > h5{
    font-size:1rem;
    color:var(--header-color);
    text-align:center;
    margin-top: -30px; 
}
.input-field{
    margin-top:50px;
}

.input-field1{
    margin-top:20px;
}
.input-field1 > input{
    height:40px;
    width:320px;
    border-radius:10px ;   
    border: 1px solid #EDEDED; 
  }


.input-field > input{
  height:40px;
  width:320px;
  border-radius:10px ;    
  border: 1px solid #EDEDED;
}

.gogle-input{
    margin-top:50px; 
  
}

.gogle-input > input{
   height:40px;
    width:320px;
    background-color: white;;
    border-radius:10px;
    border: 1px solid #EDEDED;
}

.button-field{     
    margin-top:30px;
}

.button-field > input{
   width:320px;
   height:40px;
    background-color:var(--button-background);
    border-radius: 18px;
    border:1px solid transparent;
}
.button-field > input > p {
 text-align: center;
}



.login-left{
    margin-left:700px;
    font-size: 1rem;
    height:30px;
    width:80px;
    text-decoration: underline;
}


