
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --button-background:#EB4335;
    --header-color: #565657;
    --header-color1:#1C1B1C;
  }




.login-container {
width: 100vw;
height: 100vh;
}

.login-wrapper {
    display: grid;
    grid-template-columns: 50% 50%; 
    width:100vw;
    height: 100vh;
}



.login-logo{
    display: flex;
    font-size:1.5rem;
    font-weight: bolder;
    margin-left:15px;
}

.login-head{
    text-align: center;
}

.login-right{
   
    align-items: center;
    display: flex;
    display: grid;
    grid-template-rows: 5% 90%;
}



.login-right > h2{
    font-size: 3rem;
    text-align: center;
    color:var(--header-color1)
}
.login-right > h5{
    font-size:1rem;
    color:var(--header-color);
    text-align:center;
    margin-top: -30px; 
}
.input-field{
    margin-top:50px;
}

.input-field1{
    margin-top:20px;
}
.input-field1 > input{
    height:40px;
    width:320px;
    border-radius:10px ;  
    padding-left: 7px; 
    border: 1px solid #EDEDED; 
  }


.input-field > input{
  height:40px;
  width:320px;
  padding-left: 7px;
  border-radius:10px ;    
  border: 1px solid #EDEDED;
}

.gogle-input{
    margin-top:50px; 
  
}

.gogle-input > input{
   height:40px;
    width:320px;
    background-color: white;;
    border-radius:10px;
    border: 1px solid #EDEDED;
}

.button-field{     
    margin-top:30px;
}

.button-field > input{
   width:320px;
   height:40px;
    background-color:var(--button-background);
    border-radius: 18px;
    border:1px solid transparent;
}
.button-field > input > p {
 text-align: center;
}



.login-left > h4{
    font-size: 1rem;
    text-align: end;
    text-decoration: underline;
    width: 88%;
    top: 16px;
    position: relative;
}
.login-left{
    background-image: url("https://media.gettyimages.com/id/1312706413/photo/modern-hospital-building.jpg?s=612x612&w=gi&k=20&c=1-EC4Mxf--5u4ItDIzrIOrduXlbKRnbx9xWWtiifrDo=");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    
}

.arrow{
    display: flex;
    align-items: bottom;
    justify-content: center;
    position: relative;
    top: 542px;
    width: 80%;
    justify-content: end;
     gap:10px;
}

.arrowleft > button{
    height: 25px;
    width: 25px;
    border-radius: 19px;
    background-color: transparent;
    border: 1px solid white;
}
.arrowright > button{
    height: 25px;
    width: 25px;
    border-radius: 19px;
    background-color: transparent;
    border: 1px solid white;
}



