:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --button-background:#EB4335;
    --header-color: #565657;
    --header-color1:#1C1B1C;
    --header-background:#f7f7f2;
    --center-background:#f7f7f2;
    --center-active:white;
  }




*{
    margin:0px;
    padding:0px;
}

.header-container{
    height:100px;
    width:100%;
    background-color: var(--header-background);
    color:var( --header-color);
    display: flex;
    align-items: center;
   
}

.header-logo{
    width:40%;
    margin-left:35px;
}
.header-center{
    display: flex;
    align-items: center;
    width:45%;
    background-color: var( --center-background);
    border-radius: 10px;
    padding:6px;
}

#active{
    background:var(--center-active);
    padding:8px;
    border-radius: 10px;
}
.header-one{
    display: flex;
    margin-left:12px;
    
}


 #link{
    
    text-decoration: none;
    color:var( --header-color);
    font-size:1.1rem;
    margin-left:5px;
}
.header-left{
    display: flex;
    margin-left: 180px;
    width: 15%;
}
.header-end{
    padding: 9px;
    background:var(--header-background);
    border-radius: 15px;
    margin-left: 9px;
    align-items: center;
}

.header-end-end{
    background:blue;
    border-radius: 15px;
    margin-left: 9px;
    align-items: center;
    padding: 9px;
}

#side{
    transition:all 1s ease-in-out;
}

@media (max-width: 1100px) {
    .header-center {
      display: none;
    }
}

@media (min-width: 768px) {
    #menus {
      display: none;
    }
}